<div>
    <button @onclick="@OnHandleCreateNote" class="p-4 flex bg-zinc-900 hover:bg-zinc-700 w-full font-bold">Create New</button>
    <div class="my-4"></div>
    <ul>
        @for (int i = 0; i < State.Notes.Count(); i++)
        {
            int index = i;
            MoodyData Note = State.Notes[i];

            bool isLast = index == State.Notes.Count() - 1;
            bool isActive = Note.Id == State.Md.ActiveNote.Id;

            <li class="@(isLast ? "" : "mb-2")">
                <button class="p-4 flex w-full hover:bg-zinc-700 @(isActive ? "bg-zinc-900" : "")"
                @onclick="@(() => OnHandleChangeActiveNote(Note))">
                    @Note.Title
                </button>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public Action<MoodyData>? HandleChangeActiveNote { get; set; }

    private void OnHandleChangeActiveNote(MoodyData moodyData)
    {
        HandleChangeActiveNote?.Invoke(moodyData);
    }

    [Parameter]
    public Action? HandleCreateNote { get; set; }

    private void OnHandleCreateNote()
    {
        HandleCreateNote?.Invoke();
    }
}
